h1{
    display: flex;
    justify-content: center;
}
.container{
    display: block;
    box-sizing: border-box;
}
.block{
    height: 44vh;
    width: 50%;
    padding: 1.5%;

    float: left;
    box-sizing: border-box;
    border: 2px solid #ff0000;
  
}
.block:nth-child(5n-4) {
    border-right: 1px solid red;
    border-bottom: 1px solid red;
}

.block:nth-child(5n-3) {
    border-left: 1px solid red;
    border-bottom: 1px solid red;
}

.block:nth-child(4n) {
    border-left: 1px solid red;
    border-top: 1px solid red;
}

.block:nth-child(3n) {
    border-top: 1px solid red;
    border-right: 1px solid red;
}
h2 {
    font-size: 30px;
    margin-left: 1px;
    margin-bottom: 0;
    margin-top: 0;
    display: inline-block;
}
span {
    margin-left: 5px;
    margin-right: 10px;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 2px solid red;
    text-align: center;
    line-height: 30px;
}

li{
    font-size: 18px;
}
li:nth-child(even) {
    color: red;
}
ul {
    list-style-type: "-"; 
    padding-left: 63px;
    /* margin-left: 18px;  */
}
